---
layout: default
title: blog
permalink: /blog/
---
<section class="listing">
  <p class="cmd"><span class="prompt">$</span> ls ./blog<span class="cursor" aria-hidden="true"></span></p>
  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% if site.posts.size == 0 %}
  <p class="output">nothing here yet. check back soon.</p>
  {% endif %}
  <p class="back"><a href="{{ '/' | relative_url }}">&larr; cd ~</a></p>
</section>